.statistics {
  text-align: center;
  width: 500px;
  border: #896be2 4px solid;
  margin: 15px;
}
.statList {
  border-top: #896be2 4px solid;
  width: 500px;
  justify-content: space-around;
  list-style: none;
  display: flex;
}
.title {
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3a9edd;
  margin-bottom: 10px;
  font-style: italic;
}
.item {
  width: 20%;

  display: flex;
  flex-direction: column;
}
.label,
.percentage {
  font-style: italic;
  font-size: 1.8rem;
  color: #c3b5ef;
  margin-bottom: 10px;
}
